{% extends "login_base.html" %}
{% load bootstrap4 %}
{% block title %}Login to your account{% endblock %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-8">
                {% if user.is_authenticated %}
                <div class="alert alert-info" role="alert">
                  <h4 class="alert-heading">Oh man!!!</h4>
                  <p>You are already <mark>LOGGED IN</mark>.</p>
                  <hr>
                  <a class="btn btn-lg btn-outline-danger" href="{% url 'account:profile' %}">Go bake to your Account.</a>
                </div>
                {% else %}
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Log in</h3>
                        <form method="post" action="{% url 'account:login' %}">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            <button type="submit" class="btn btn-block btn-outline-info"><i class="fas fa-sign-in-alt"></i> Login</button>
                            <input type="hidden" name="next" value="{{ next }}" />
                        </form>
                    </div>
                    <div class="card-footer text-muted text-center">
                      Welcome to Manager Application
                    </div>
                </div>
                {% endif %}
        </div>
    </div>
</div>
{% endblock %}
