{% extends 'base.html' %}
{% block title %}Change password successful{% endblock %}
{% block header %}{% endblock %}
{% block content_title %}Change Your Password{% endblock %}
{% block content %}
  <div class="col-lg-12"><div class="tile">
      <div class="tile-body"><div class="alert alert-success" role="alert">
            <strong>Success!</strong> Your password has been changed!
          </div>
          <a href="{% url 'account:profile' %}" class="btn btn-secondary">Return to home page</a></div>
    </div></div>
{% endblock %}