{% extends 'base.html' %}
{% block title %}Change password{% endblock %}
{% load bootstrap4 %}
{% block content %}
        <h5 class="card-header">Change Your Password</h5>
        <div class="card-body">
            <div class="col-lg-6 col-md-8 col-sm-10">
                  <form method="post" novalidate>
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <button type="submit" class="btn btn-md btn-success">Change password</button>
                  </form>
            </div>
        </div>
{% endblock %}