{% extends 'base.html' %}
{% block title %}Change password{% endblock %}
{% load bootstrap4 %}
{% block header %}{% endblock %}
{% block content_title %}Change Your Password{% endblock %}
{% block content %}
        
        <div>
            <div class="col-lg-6 col-md-8 col-sm-10">
                  <form method="post" novalidate>
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <button type="submit" class="btn btn-md btn-success">Change password</button>
                  </form>
            </div>
        </div>
{% endblock %}