{% extends 'base.html' %}
{% block title %}
  Profile {{ request.user.username|title }}
{% load bootstrap4 %}
{% endblock %}

{% block header %}{% endblock %}
{% block content_title %}Profile Settings{% endblock %}
{% block content_sub_title %}Change your profile informations.{% endblock %}
{% if request.user.is_authenticated %}
{% block content %}<div class="col-lg-4"><div class="tile"><div class="tile-body">
<form method="post">
    <div>
        <div class="col-md-12">
                {% csrf_token %}
                {% bootstrap_form user_base_form %}
                {% bootstrap_form user_form %}
        </div>
    </div>
    <div>
        <input class="btn btn-md btn-primary" type="submit" value="Update Profile"><br/>
    </div>
</form>
</div></div></div>{% endblock %}
{% endif %}
