{% extends 'login_base.html' %}
{% load bootstrap4 %}
{% block header %}
{% endblock %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 col-sm-12">
          {% if request.user.is_authenticated and request.user.is_superuser %}
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">Sign up</h3>
                <form method="post">
                    {% csrf_token %}
                    {% bootstrap_form user_form %}
                    <input type="submit" class="btn btn-lg btn-outline-primary btn-block" value="Create an account" />
                </form>
            </div>
          </div>
          {% else %}
            <div class="alert alert-danger" role="alert">
              <h4 class="alert-heading">Access Denied</h4>
              <p>You have no <mark>PERMISSION</mark> to Create ACCOUNT.</p>
              <hr>
              <a class="btn btn-lg btn-outline-danger" href="{% url 'account:profile' %}">Go bake to your Account</a>
            </div>
           {% endif %}
       </div>
    </div>
</div>
{% endblock %}
