{% extends 'login_base.html' %}
{% load bootstrap4 %}
{% block header %}
{% endblock %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 col-sm-12">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">Sign up</h3>
                <form method="post">
                    {% csrf_token %}
                    {% bootstrap_form user_form %}
                    <input type="submit" class="btn btn-lg btn-outline-primary btn-block" value="Create an account" />
                </form>
            </div>
            <div class="card-footer text-muted text-center">
              Already have an account? <a href="{% url 'account:login' %}">Log in</a>
            </div>
          </div>
        </div>
      </div>
</div>
{% endblock %}
