[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[requires]

python_version = "3.6.4"


[packages]

psycopg2 = "*"
django-heroku = "*"
gunicorn = "*"
argon2 = "*"
cffi = "*"
dj-database-url = "*"
Django = "*"
django-bootstrap4 = "*"
pycparser = "*"
pytz = "*"
style = "*"
update = "*"
whitenoise = "*"
djangorestframework = "*"
djangorestframework-jwt = "*"

[dev-packages]

