{% extends 'base.html' %}
{% block title %}Expenditure Delete{% endblock %}
{% block content %}<div class="container">
{% if request.user.is_superuser %}

    <h2 class="text-muted">
        Are you sure <small>DELETE {{ expend.expend_in }}</small>
    </h2>
    <form method="post" action="">
        {% csrf_token %}
        <input type="submit" class="btn btn-lg btn-danger" value="Delete"> If no,
        <a class="btn btn-lg btn-info" href="{% url 'account:expend' %}">Cancel action.</a>
    </form>

{% else %}
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="alert alert-danger" role="alert">
          <h4 class="alert-heading">Access Denied</h4>
          <p>You have no <mark>PERMISSION</mark> to Delete other's EXPEND RECORD.</p>
          <hr>
          <a class="btn btn-lg btn-outline-danger" href="{% url 'account:expend' %}">Go bake to your Expend List</a>
        </div>
        </div>
    </div>
{% endif %}</div>
{% endblock %}
