{% extends 'base.html' %}
{% block title %}
        Create Expenditure
{% endblock %}
{% block content %}
    {% if request.user.is_authenticated and request.user.is_superuser %}
    <div class="container-fluid">
            <form method="post">
                <div class="row">
                    <div class="col-md-4">
                        {% if form.instance.pk %}
                        <h2 class="text-muted">Update Expend Record</h2><br>
                        {% else %}
                        <h2 class="text-muted">Add Expend Record</h2><br>
                        {% endif %}
                        {% csrf_token %}
                        {% include "form.html" %}
                    </div>
                </div>
                <div class="alert alert-secondary">
                   {% if form.instance.pk %}
                    <input type="submit" class="btn btn-md btn-primary" value="Update Record">
                    {% else %}
                    <input type="submit" class="btn btn-md btn-primary" value="Save Record">
                    {% endif %}
                    <a type="submit" class="btn btn-md btn-info" href="{% url 'account:expend' %}">Back to List</a>
                 </div>
            </form>
    </div>
    {% else %}
    {% include 'access_denied.html' %}
    {% endif %}
{% endblock %}
