{% extends 'base.html' %}
{% block title %}
    Expenditure List
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-11">
            <h2 class="text-muted">Expenditure List <small class="d-print-none"><i>based on your account</i></small></h2>
            <div class="text-right">
                <a type="submit" class="btn btn-md btn-outline-primary d-print-none" href="{% url 'account:expend_create' %}">Add Expend</a>
            </div><br>
            <div class="alert alert-secondary">
                {% if request.user.is_authenticated and request.user.is_superuser %}
                <i><b>Your expend amount: <mark>{{ sum_user_expend_amount }}</mark> Taka & Full expend amount: <mark>{{ sum_expend_amount }}</mark> Taka, your verified amount <mark>{{ sum_user_expend_amount_verified }}</mark> Taka & full verified amount <mark>{{ sum_expend_amount_verified }}</mark> Taka</b></i>
                {% else %}
                    <i><b>Your expend amount: <mark>{{ sum_user_expend_amount }}</mark> Taka & your verified amount <mark>{{ sum_user_expend_amount_verified }}</mark> Taka.</b></i>
                {% endif %}
            </div>
            <table class="table table-striped table-hover">
                {% if request.user.is_authenticated and request.user.is_superuser %}
                <thead class="thead-dark">
                    <tr>
                        <th>Expended By</th>
                        <th>Expended In</th>
                        <th>Expend Amount (In TAKA)</th>
                        <th>Expend Date</th>
                        <th class="d-print-none">Action</th>
                        <th>Verified</th>
                    </tr>
                </thead>
                {% else %}
                <thead class="thead-dark">
                    <tr>
                        <th>Expended By</th>
                        <th>Expended In</th>
                        <th>Expend Amount (In TAKA)</th>
                        <th>Expend Date</th>
                        <th>Verified</th>
                    </tr>
                </thead>
                {% endif %}
                {% if request.user.is_authenticated and request.user.is_superuser %}
                {% for expend in expend_list %}
                    <tr>
                        <td><a href="{{ expend.get_absolute_url }}">{{ expend.by_user|title }}</a></td>
                        <td>{{ expend.expend_in|title }}</td>
                        <td>{{ expend.expend_amount }}</td>
                        <td>{{ expend.added_date }}</td>
                        <td class="d-print-none"><a class="btn btn-md btn-outline-danger" href="{% url 'account:expend_delete' pk=expend.pk %}">Delete</a></td>
                        <th>{% if expend.verified == 'no' %}<i class="fas fa-times" style="font-size:1.2em; color:#c91218"></i> <span class="badge badge-danger">Not Verified</span>
                            {% else %}<i class="fas fa-calendar-check" style="font-size:1.2em; color:#13c44b"></i> <span class="badge badge-success">Verified</span>{% endif %}</th>
                    </tr>
                {% endfor %}
                {% else %}
                {% for expend in expend_list_user %}
                    <tr>
                        <td><a href="{{ expend.get_absolute_url }}">{{ expend.by_user|title }}</a></td>
                        <td>{{ expend.expend_in|title }}</td>
                        <td>{{ expend.expend_amount }}</td>
                        <td>{{ expend.added_date }}</td>
                        <th>{% if expend.verified == 'no' %}<i class="fas fa-times" style="font-size:1.2em; color:#c91218"></i> <span class="badge badge-danger">Not Verified</span>
                            {% else %}<i class="fas fa-calendar-check" style="font-size:1.2em; color:#13c44b"></i> <span class="badge badge-success">Verified</span>{% endif %}</th>
                    </tr>
                {% endfor %}
                {% endif %}
            </table>
        </div>
    </div>
</div>
{% endblock %}
