{% extends 'base.html' %}
{% block title %}
    Expenditure List
{% endblock %}
{% block content %}
{% now "Y" as current_year %}
{% now "m" as current_month %}
{% if filter_by_time %}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <h2 class="text-muted">Expenditure List of <mark>{{ filter_by_time }}</mark> <small class="d-print-none"><i>based on your account</i></small></h2>
            <div class="text-right">
                <a type="submit" class="btn btn-md btn-outline-info d-print-none" href="{% url 'account:expend' %}">Full Expenditure List</a>
                <a type="submit" class="btn btn-md btn-outline-info d-print-none" href="{% url 'account:expend_by_today' %}">Today Expenditure List</a>
                <a type="submit" class="btn btn-md btn-outline-info d-print-none" href="{% url 'account:expend_by_month' year=current_year month=current_month %}">This Month Expenditure List</a>
                <a type="submit" class="btn btn-md btn-outline-info d-print-none" href="{% url 'account:expend_by_year' year=current_year %}">This Year Expenditure List</a>
                <a type="submit" class="btn btn-md btn-outline-primary d-print-none" href="{% url 'account:expend_create' %}">Add Expend</a>
            </div><br>
            <div class="alert alert-secondary">
                {% if request.user.is_authenticated and request.user.is_superuser %}
                <i><b>Your expend amount: <mark>{{ sum_user_expend_amount }}</mark> Taka &
                    Full expend amount: <mark>{{ sum_expend_amount }}</mark> Taka,
                    your verified amount: <mark>{{ sum_user_expend_amount_verified }}</mark> Taka,
                    your unverified amount: <mark>{{ sum_user_expend_amount_unverified }}</mark> Taka &
                    full verified amount: <mark>{{ sum_expend_amount_verified }}</mark> Taka,
                    full unverified amount: <mark>{{ sum_expend_amount_unverified }}</mark> Taka.</b></i>
                {% else %}
                    <i><b>Your expend amount: <mark>{{ sum_user_expend_amount }}</mark> Taka,
                        your verified amount: <mark>{{ sum_user_expend_amount_verified }}</mark> Taka &
                        your unverified amount: <mark>{{ sum_user_expend_amount_unverified }}</mark> Taka.</b></i>
                {% endif %}
            </div>
            <table class="table table-striped table-hover table-responsive-xl table-responsive-lg table-responsive-md table-responsive-sm table-bordered">
                {% if request.user.is_authenticated and request.user.is_superuser %}
                <thead class="thead-dark">
                    <tr>
                        <th>Expended By</th>
                        <th>Source of Fund</th>
                        <th>Expended In</th>
                        <th>Expend Amount (In TAKA)</th>
                        <th>Expend Date</th>
                        <th class="d-print-none">Action</th>
                        <th>Verified</th>
                    </tr>
                </thead>
                {% else %}
                <thead class="thead-dark">
                    <tr>
                        <th>Expended By</th>
                        <th>Expended In</th>
                        <th>Expend Amount (In TAKA)</th>
                        <th>Expend Date</th>
                        <th>Verified</th>
                    </tr>
                </thead>
                {% endif %}
                {% if request.user.is_authenticated and request.user.is_superuser %}
                {% for expend in filter_date_user %}
                    <tr>
                        <td><a href="{{ expend.get_absolute_url }}">{{ expend.by_user|title }}</a></td>
                        <td>{{ expend.source_fund|title }}</td>
                        <td>{{ expend.expend_in|title }}</td>
                        <td>{{ expend.expend_amount }}</td>
                        <td>{{ expend.added_date }}</td>
                        <td class="d-print-none"><a class="btn btn-md btn-outline-danger" href="{% url 'account:expend_delete' pk=expend.pk %}">Delete</a></td>
                        <th>{% if expend.verified == 'no' %}<i class="fas fa-times" style="font-size:1.2em; color:#c91218"></i> <span class="badge badge-danger">Not Verified</span>
                            {% else %}<i class="fas fa-calendar-check" style="font-size:1.2em; color:#13c44b"></i> <span class="badge badge-success">Verified</span>{% endif %}</th>
                    </tr>
                {% endfor %}
                {% else %}
                {% for expend in filter_date_user %}
                    <tr>
                        <td><a href="{{ expend.get_absolute_url }}">{{ expend.by_user|title }}</a></td>
                        <td>{{ expend.source_fund|title }}</td>
                        <td>{{ expend.expend_in|title }}</td>
                        <td>{{ expend.expend_amount }}</td>
                        <td>{{ expend.added_date }}</td>
                        <th>{% if expend.verified == 'no' %}<i class="fas fa-times" style="font-size:1.2em; color:#c91218"></i> <span class="badge badge-danger">Not Verified</span>
                            {% else %}<i class="fas fa-calendar-check" style="font-size:1.2em; color:#13c44b"></i> <span class="badge badge-success">Verified</span>{% endif %}</th>
                    </tr>
                {% endfor %}
                {% endif %}
            </table>
        </div>
    </div>
</div>

{% else %}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <h2 class="text-muted">Expenditure List <small class="d-print-none"><i>based on your account</i></small></h2>
            <div class="text-right">
                <a type="submit" class="btn btn-md btn-outline-dark d-print-none" href="{% url 'account:expend_by_today' %}">Today Expenditure List</a>
                <a type="submit" class="btn btn-md btn-outline-dark d-print-none" href="{% url 'account:expend_by_month' year=current_year month=current_month %}">This Month Expenditure List</a>
                <a type="submit" class="btn btn-md btn-outline-dark d-print-none" href="{% url 'account:expend_by_year' year=current_year %}">This Year Expenditure List</a>
                <a type="submit" class="btn btn-md btn-outline-primary d-print-none" href="{% url 'account:expend_create' %}">Add Expend</a>
            </div><br>
            <div class="alert alert-secondary">
                {% if request.user.is_authenticated and request.user.is_superuser %}
                <i><b>Your expend amount: <mark>{{ sum_user_expend_amount }}</mark> Taka &
                    Full expend amount: <mark>{{ sum_expend_amount }}</mark> Taka,
                    your verified amount: <mark>{{ sum_user_expend_amount_verified }}</mark> Taka,
                    your unverified amount: <mark>{{ sum_user_expend_amount_unverified }}</mark> Taka &
                    full verified amount: <mark>{{ sum_expend_amount_verified }}</mark> Taka,
                    full unverified amount: <mark>{{ sum_expend_amount_unverified }}</mark> Taka.</b></i>
                {% else %}
                    <i><b>Your expend amount: <mark>{{ sum_user_expend_amount }}</mark> Taka,
                        your verified amount: <mark>{{ sum_user_expend_amount_verified }}</mark> Taka &
                        your unverified amount: <mark>{{ sum_user_expend_amount_unverified }}</mark> Taka.</b></i>
                {% endif %}
            </div>
            <table class="table table-striped table-hover table-responsive-xl table-responsive-lg table-responsive-md table-responsive-sm table-bordered text-center">
                {% if request.user.is_authenticated and request.user.is_superuser %}
                <thead class="thead-dark">
                    <tr>
                        <th>Expended By</th>
                        <th>Source of Fund</th>
                        <th>Expended In</th>
                        <th>Expend Amount (In TAKA)</th>
                        <th>Expend Date</th>
                        <th class="d-print-none">Action</th>
                        <th>Verified</th>
                    </tr>
                </thead>
                {% else %}
                <thead class="thead-dark">
                    <tr>
                        <th>Expended By</th>
                        <th>Expended In</th>
                        <th>Expend Amount (In TAKA)</th>
                        <th>Expend Date</th>
                        <th>Verified</th>
                    </tr>
                </thead>
                {% endif %}
                {% if request.user.is_authenticated and request.user.is_superuser %}
                {% for expend in expend_list %}
                    <tr>
                        <td><a href="{{ expend.get_absolute_url }}">{{ expend.by_user|title }}</a></td>
                        <td>{{ expend.source_fund|title }}</td>
                        <td>{{ expend.expend_in|title }}</td>
                        <td>{{ expend.expend_amount }}</td>
                        <td>{{ expend.added_date }}</td>
                        <td class="d-print-none"><a class="btn btn-md btn-outline-danger" href="{% url 'account:expend_delete' pk=expend.pk %}">Delete</a></td>
                        <th>{% if expend.verified == 'no' %}<h4><i class="fas fa-times d-print-none" style="color:#c91218"></i> <span class="badge badge-danger">Not Verified</span></h4>
                            {% else %}<h4><i class="fas fa-calendar-check d-print-none" style="color:#13c44b"></i> <span class="badge badge-success">Verified</span></h4>{% endif %}</th>
                    </tr>
                {% endfor %}
                {% else %}
                {% for expend in expend_list_user %}
                    <tr>
                        <td><a href="{{ expend.get_absolute_url }}">{{ expend.by_user|title }}</a></td>
                        <td>{{ expend.source_fund|title }}</td>
                        <td>{{ expend.expend_in|title }}</td>
                        <td>{{ expend.expend_amount }}</td>
                        <td>{{ expend.added_date }}</td>
                        <th>{% if expend.verified == 'no' %}<h4><i class="fas fa-times d-print-none" style="color:#c91218"></i> <span class="badge badge-danger">Not Verified</span></h4>
                            {% else %}<h4><i class="fas fa-calendar-check d-print-none" style="color:#13c44b"></i> <span class="badge badge-success">Verified</span></h4>{% endif %}</th>
                    </tr>
                {% endfor %}
                {% endif %}
            </table>
        </div>
    </div>
</div>

{% endif %}
{% endblock %}
