{% extends 'base.html' %}
{% block title %}Expenditure Detail{% endblock %}
{% block content %}
<div class="container-fluid">
    {% if request.user.is_authenticated and expend.by_user == request.user.username or request.user.is_superuser %}
    <div class="row">
        <div class="col-lg-5 col-md-6">
            <h2 class="text-muted">Expenditure Detail <small class="d-print-none"><i>based on your account</i></small></h2><br><br>
                <table class="table">
                    <tr>
                        <td><b>Expended By:</b></td>
                        <td><b><i>{{ expend.by_user|title }}</i></b></td>
                    </tr><tr>
                        <td><b>Added Date:</b></td>
                        <td><b><i>{{ expend.added_date }}<br>{{ expend.added_date|timesince }} ago</i></b></td>
                    </tr><tr>
                        <td><b>Source of Fund:</b></td>
                        <td><b><i>{{ expend.source_fund }}</i></b></td>
                    </tr><tr>
                        <td><b>Source Amount:</b></td>
                        <td><b><i>{{ expend.source_amount }}</i> TAKA</b></td>
                    </tr><tr>
                        <td><b>Expended in:</b></td>
                        <td><b><i>{{ expend.expend_in }}</i></b></td>
                    </tr><tr>
                        <td><b>Expend Amount:</b></td>
                        <td><b><i>{{ expend.expend_amount }}</i> TAKA</b></td>
                    </tr><tr>
                        <td><b>Description:</b></td>
                        <td><b><i>{% if expend.description == '' %}No Description{% else %}{{ expend.description }}{% endif %}</i></b></td>
                    </tr>
                </table>
        </div>
    </div>
        {% if request.user.is_authenticated and request.user.is_superuser %}
            <div class="alert alert-secondary d-print-none">
                <a class="btn btn-md btn-outline-success" href="{% url 'account:expend_update' pk=expend.pk %}">Update Record</a>
                <a class="btn btn-md btn-outline-danger" href="{% url 'account:expend_delete' pk=expend.pk %}">Remove Record</a>
            </div>
        {% endif %}
    {% else %}
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="alert alert-danger" role="alert">
          <h4 class="alert-heading">Access Denied</h4>
          <p>You have no <mark>PERMISSION</mark> to see other's EXPEND DETAIL</p>
          <hr>
          <a class="btn btn-lg btn-outline-danger" href="{% url 'account:expend' %}">Go bake to your Expend List</a>
        </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
