{% extends 'base.html' %}
{% block title %}
        {% if form.instance.pk %}Update{% else %}Create{% endif %} Expenditure
{% endblock %}
{% block content %}
{% if request.user.is_authenticated %}
    {% if request.user.is_superuser %}
        <div class="container">
            <h3 class="text-muted">{% if form.instance.pk %}Update{% else %}Add{% endif %} Expenditure</h3><br>
            <div class="row">
                <form method="post">
                    {% csrf_token %}
                    {% include 'form.html' %}
                    <button class="btn btn-sm btn-success">{% if form.instance.pk %}Update{% else %}Add{% endif %}</button>
                </form>
            </div>
        </div>
    {% else %}
        {% if form.instance.pk %}
            {% include 'access_denied.html' %}
        {% else %}
            <div class="container">
                <h3 class="text-muted">Add Expenditure</h3><br>
                <div class="row">
                    <form method="post">
                        {% csrf_token %}
                        {% include 'form.html' %}
                        <button class="btn btn-sm btn-success">Add</button>
                    </form>
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endif %}
{% endblock %}
