<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'docs/css/main.css' %}">   
    <style>
      <style>
        body{
            background-color: #d8fffb;
        }
        .btn{margin:2px;border-radius:2px;}
        .form-control{border-radius:0px;}
    </style>
</head>
<body>

{% block header %}

{% endblock %}
<br/>
{% block content %}

{% endblock %}

{% block footer %}

{% endblock %}
<script src="{% static 'docs/js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'docs/js/popper.min.js' %}"></script>
    <script src="{% static 'docs/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'docs/js/main.js' %}"></script>
    <!-- The javascript plugin to display page loading on top-->
    <script src="{% static 'docs/js/plugins/pace.min.js' %}"></script>
    <script type="text/javascript">
      // Login Page Flipbox control
      $('.login-content [data-toggle="flip"]').click(function() {
        $('.login-box').toggleClass('flipped');
        return false;
      });
    </script>
</body>
</html>
