{% extends 'base.html' %}
{% block title %}
    Expenditure Graph
{% endblock %}
{% block content %}
{% now "Y" as current_year %}
<canvas id="myChart"></canvas>
{% endblock %}

{% block jQuery %}
    var ctx = document.getElementById("myChart").getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: [
                    {% for data in data %}
                    "{{ data.added_date }}",
                    {% endfor %}
                    ],
            datasets: [{
                label: 'Expend Amount: ',
                data: [
                    {% for data in data %}
                    {{ data.expend_amount }},
                    {% endfor %}
                    ],
                backgroundColor: 'rgba(75, 192, 255, 0.5)',
                borderColor: 'rgba(75, 192, 255, 1.0)',
                borderWidth: 2
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
    });
{% endblock %}