{% extends 'base.html' %}
{% block title %}
        {% if form.instance.pk %}Update{% else %}Create{% endif %} Expenditure
{% endblock %}
{% block content_title %}{% if form.instance.pk %}Update{% else %}Add{% endif %} Expenditure{% endblock %}
{% block content %}
<div class="col-xs-12"><div class="tile"><div class="tile-body">{% if request.user.is_authenticated %}
    {% if request.user.is_superuser %}
            <form method="post">
                <div>
                    {% csrf_token %}
                    {% include 'form.html' %}
                </div>
                <div>
                    <button class="btn btn-md btn-success">{% if form.instance.pk %}Update Record{% else %}Add Record{% endif %}</button>
                </div>
            </form>
    {% else %}
        {% if form.instance.pk %}
            {% include 'access_denied.html' %}
        {% else %}
                <form method="post">
                    <div class="card-body custom-card">
                        {% csrf_token %}
                        {% include 'form.html' %}
                    </div>
                    <div>
                        <button class="btn btn-md btn-success">Add Record</button>
                    </div>
                </form>
        {% endif %}
    {% endif %}
{% endif %}</div></div></div>
{% endblock %}
