{% extends 'base.html' %}
{% block title %}Expenditure Delete{% endblock %}
{% block content %}<div class="container">
{% if request.user.is_authenticated and request.user.is_superuser %}

    <h2 class="text-muted">
        Are you sure <small>DELETE {{ expend.expend_in }}</small>
    </h2>
    <form method="post" action="">
        {% csrf_token %}
        <input type="submit" class="btn btn-lg btn-danger" value="Delete"> If no,
        <a class="btn btn-lg btn-info" href="{% url 'expenditure:expend' %}">Cancel action.</a>
    </form>

{% else %}
    {% include 'access_denied.html' %}
{% endif %}</div>
{% endblock %}
